<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Astronomer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
            color: #333;
        }

        p {
            text-align: justify;
            line-height: 1.6;
            color: #666;
        }

        .highlight {
            color: #04AA6D;
            font-weight: bold;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>


<div class="container">
    <h2>Welcome to Astronomer Page</h2>
</div>

<!-- ดูตารรางรวมของ science plan -->
<h2>All Science Plans</h2>
<table border="1">
    <thead>
    <tr>
        <th>Plan Number</th>
        <th>Creator</th>
        <th>Submitter</th>
        <th>Funding (USD)</th>
        <th>Objectives</th>
        <th>Star System</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Telescope Location</th>
        <th>Status</th>
        <!-- เพิ่มหัวข้อคอลัมน์ตามที่ต้องการ -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="sciencePlan : ${sciencePlans}">
        <td th:text="${sciencePlan.planNo}"></td>
        <td th:text="${sciencePlan.creator}"></td>
        <td th:text="${sciencePlan.submitter}"></td>
        <td th:text="${sciencePlan.fundingInUSD}"></td>
        <td th:text="${sciencePlan.objectives}"></td>
        <td th:text="${sciencePlan.starSystem}"></td>
        <td th:text="${sciencePlan.startDate}"></td>
        <td th:text="${sciencePlan.endDate}"></td>
        <td th:text="${sciencePlan.telescopeLocation}"></td>
        <td th:text="${sciencePlan.status}"></td>
        <!-- แสดงข้อมูลตามที่คุณต้องการ -->
    </tr>
    </tbody>
</table>


<!-- การสร้าง Sciencec plan-->
<h2>Create Science Plan</h2>
<form action="http://localhost:8080/createSP" method="post">
    <label for="creator"><b>Creator</b></label>
    <input type="text" placeholder="Enter Creator" name="creator" required>
    <br><br>
    <label for="submitter"><b>Submitter</b></label>
    <input type="text" placeholder="Enter Submitter" name="submitter" required>
    <br><br>
    <label for="fundingInUSD"><b>Funding in USD</b></label>
    <input type="number" placeholder="Enter Funding in USD" name="fundingInUSD" required>
    <br><br>
    <label for="objectives"><b>Objectives</b></label>
    <input type="text" placeholder="Enter Objectives" name="objectives" required>
    <br><br>
    <label for="starSystem"><b>Star System</b></label>
    <input type="text" placeholder="Enter Star System" name="starSystem" required>
    <br><br>
    <label for="startDate"><b>Start Date</b></label>
    <input type="text" placeholder="Enter Start Date" name="startDate" required>
    <br><br>
    <label for="endDate"><b>End Date</b></label>
    <input type="text" placeholder="Enter End Date" name="endDate" required>
    <br><br>
    <label for="telescopeLocation"><b>Telescope Location</b></label>
    <select name="telescopeLocation" required>
        <option value="CHILE">CHILE</option>
        <option value="HAWAII">HAWAII</option>
    </select>
    <br><br>
    <label for="fileType"><b>File Type</b></label>
    <input type="text" placeholder="Enter File Type" name="fileType" required>
    <br><br>
    <label for="fileQuality"><b>File Quality</b></label>
    <input type="text" placeholder="Enter File Quality" name="fileQuality" required>
    <br><br>
    <label for="colorType"><b>Color Type</b></label>
    <input type="text" placeholder="Enter Color Type" name="colorType" required>
    <br><br>
    <label for="contrast"><b>Contrast</b></label>
    <input type="number" placeholder="Enter Contrast" name="contrast" required>
    <br><br>
    <label for="brightness"><b>Brightness</b></label>
    <input type="number" placeholder="Enter Brightness" name="brightness" required>
    <br><br>
    <label for="saturation"><b>Saturation</b></label>
    <input type="number" placeholder="Enter Saturation" name="saturation" required>
    <br><br>
    <label for="highlights"><b>Highlights</b></label>
    <input type="number" placeholder="Enter Highlights" name="highlights" required>
    <br><br>
    <label for="exposure"><b>Exposure</b></label>
    <input type="number" placeholder="Enter Exposure" name="exposure" required>
    <br><br>
    <label for="shadows"><b>Shadows</b></label>
    <input type="number" placeholder="Enter Shadows" name="shadows" required>
    <br><br>
    <label for="whites"><b>Whites</b></label>
    <input type="number" placeholder="Enter Whites" name="whites" required>
    <br><br>
    <label for="blacks"><b>Blacks</b></label>
    <input type="number" placeholder="Enter Blacks" name="blacks" required>
    <br><br>
    <label for="luminance"><b>Luminance</b></label>
    <input type="number" placeholder="Enter Luminance" name="luminance" required>
    <br><br>
    <label for="hue"><b>Hue</b></label>
    <input type="number" placeholder="Enter Hue" name="hue" required>
    <br><br>
    <button type="submit">Add</button>
</form>

<H2> Get BY ID Science Plan</H2>

<form action="http://localhost:8080/byidSP" method="post">
    <label for="id"><b>ID</b></label>
    <input type="text" placeholder="Enter id" name="id" required>
    <br><br>
    <button type="submit">Search</button>
</form>

<table border="1">
    <thead>
    <tr>
        <th>Plan Number</th>
        <th>Creator</th>
        <th>Submitter</th>
        <th>Funding (USD)</th>
        <th>Objectives</th>
        <th>Star System</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Telescope Location</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sciencePlanByID : ${sciencePlansTocontrollerByID}">
        <td th:text="${sciencePlanByID.planNo}"></td>
        <td th:text="${sciencePlanByID.creator}"></td>
        <td th:text="${sciencePlanByID.submitter}"></td>
        <td th:text="${sciencePlanByID.fundingInUSD}"></td>
        <td th:text="${sciencePlanByID.objectives}"></td>
        <td th:text="${sciencePlanByID.starSystem}"></td>
        <td th:text="${sciencePlanByID.startDate}"></td>
        <td th:text="${sciencePlanByID.endDate}"></td>
        <td th:text="${sciencePlanByID.telescopeLocation}"></td>
        <td th:text="${sciencePlanByID.status}"></td>
    </tr>
    </tbody>
</table>

<H2> Submit BY ID Science Plan</H2>


<form action="http://localhost:8080/submitSP" method="post">
    <label for="id"><b>ID</b></label>
    <input type="text" placeholder="Enter id" name="id" required>
    <br><br>
    <button type="submit">submit</button>
</form>

<table border="1">
    <thead>
    <tr>
        <th>Plan Number</th>
        <th>Creator</th>
        <th>Submitter</th>
        <th>Funding (USD)</th>
        <th>Objectives</th>
        <th>Star System</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Telescope Location</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="submitSP : ${submitSPByID}">
        <td th:text="${submitSP.planNo}"></td>
        <td th:text="${submitSP.creator}"></td>
        <td th:text="${submitSP.submitter}"></td>
        <td th:text="${submitSP.fundingInUSD}"></td>
        <td th:text="${submitSP.objectives}"></td>
        <td th:text="${submitSP.starSystem}"></td>
        <td th:text="${submitSP.startDate}"></td>
        <td th:text="${submitSP.endDate}"></td>
        <td th:text="${submitSP.telescopeLocation}"></td>
        <td th:text="${submitSP.status}"></td>
    </tr>
    </tbody>
</table>


</body>
</html>
